<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0">{{first_name}}
      <span class="text-primary">{{last_name}}</span>
    </h1>
   <!-- <div class="subheading mb-3">{{oca}}  </div> -->
    
    

    <div class="subheading mb-3">{{address}} {{mobile}} ·
      <a href="mailto:dhakad.amit@outlook.com">{{email}}</a>
    </div>
    <p class="mb-5">{{objective}}</p>

    <ul class="list-inline list-social-icons mb-0">
      <!-- linked in icon -->
      <li class="list-inline-item">
        <a href= {{linkedin}}>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <!--linked in end-->

        <!-- github icon -->
      <li class="list-inline-item">
        <a href= {{github}}>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
       <!--github in end-->
    </ul>
  </div>
</section>