
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-3">{{tittle}}</h2>

          <div class="subheading mb-3">{{subTittle1}}</div>
         
          <ul class="list-inline list-icons">
            <!--java-->
            <li class="list-inline-item">
                    <i class="devicon-java-plain-wordmark colored"></i>
            </li>
            <!--mysql-->
            <li class="list-inline-item">
              <i class="devicon-mysql-plain-wordmark colored"></i>
            </li>
           <!--oracle-->
            <li class="list-inline-item">
                <i class="devicon-oracle-original colored"></i>
              </li>

              <!--window-->
            <li class="list-inline-item">
                <i class="devicon-windows8-original colored"></i>
              </li>

              <!--linux-->
            <li class="list-inline-item">
                <i class="devicon-linux-plain colored"></i>
              </li>


             
          </ul>

          <div class="subheading mb-3">{{subTittle2}}</div>
         
          <ul class="fa-ul mb-0">
            <li>   <!--class = " fa fa-li fa-check"-->
                <i class=" fa fa-cog fa-spin"></i>
              JAVA 
            
            <ol>Good knowledge of OOPs concept like Abstraction, Encapsulation, Polymorphism, Inheritance.</ol>
            <ol>Good knowledge of String, singleton design pattern.</ol>
            <ol>Good in Exception Handling.</ol>
            <ol>Good understanding of File handling IO and Serialization.</ol>
                  </li>
            <li>
                <i class=" fa fa-cog fa-spin"></i>
              JDBC
            
              <ol>Good Architectural understanding of JDBC and Loose coupling.</ol>
              <ol>Implemented all type of statements like Statement, Prepared Statement and Callable Statements.</ol>
              <ol> Implemented JDBC transaction.</ol>
              <ol> Used configuration files and implemented best practices.</ol>
              <ol>Written Stored Procedures and executed into callable statements.</ol>
            
            
            </li>
            <li>
                <i class=" fa fa-cog fa-spin"></i>
              SQL
            <ol>  Good understanding of RDBMS concepts.</ol>
            <ol> Comfortable in writing SQL statements like DDL, DML, DQL etc.</ol>
            <ol> Implemented joins and subqueries.</ol>
            
            
            </li>
            <li>
                <i class=" fa fa-cog fa-spin"></i>
              J2EE
            
             <ol> Good understanding of servlets and server side programmings. </ol>
             <ol> Good understanding of JSP. </ol>
             <ol> Good understanding of cookies and sessions.  </ol>
             <ol> Depth understanding of Servlet and JSP life cycle.  </ol>
            
            </li>
          </ul>

         
 
        </div>
      </section>
